<!--
	Made by Caleb Lucas-Foley

	Event Driven Layout Prototype
	(with communication tacked on)

	This is NOT the master file. edp-static-layout.html is the
	presentable and current version of this

	2016-08-01
-->

<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Static Layout</title>
	<link rel="stylesheet" type="text/css" href="edp-style.css"></link>
	<!-- Get AngularJS from Google CDN -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script src="smartBrowserSend.js"></script>
	<script src="ev3DataParser.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div id="left-sidebar" class="shrink-box">
		<h2>What is This?</h2><br/>
		<span style="text-shadow:none;">
			<p>
				Every block belongs to a <em>channel</em>, which is something like "Port 1 Touch Sensor."
			</p><br/>
			<p>
				State changes specified in <em>WHEN</em> blocks trigger actions specified in the corresponding <em>THEN</em> blocks.
			<p><br/>
				Every block can be configured just like in the LEGO EV3 software. For now, the setting names can be seen as alt-text on mouseover.
			</p><br/>
			<p>
				For now, there is no way to directly add or remove code blocks in this prototype. The <em>Import/Export</em> panel can be used to paste in JSON code representations.
			</p>
		</span>
	</div>
	<div id="right-sidebar" class="shrink-box">
		<h2>Import/Export</h2><br/>
		<textarea id="code-zone" ng-model="codeJSON"></textarea><br/>
		<button ng-click="showCode()">Show Code</button><br/>
		<button ng-click="importCode()">Import Code</button>
		<!-- Buttons added for communication -->
		<button ng-click="startSending()">SEND</button><br/>
		<button ng-click="stopSending()">STOP</button><br/>
		URL:<input type="text" ng-model="urlToSend" size="15"></input>
		<!-- End communication section -->
	</div>
	<div id="port-config" class="shrink-box">
		<h2 class="column-label">EV3 Ports</h2>
		<table>
			<tr>
				<td ng-repeat="port in inputPorts" class="port-config-cell" ng-style="{background:channelColors[portConfig[port]]}">
					{{port | ev3PortName}}<br/>
					<select ng-model="portConfig[port]" ng-options="sensor as (sensor | ev3ChannelName) for sensor in inputPeripherals"></select>
				</td>
			</tr>
			<tr>
				<td ng-repeat="port in outputPorts" class="port-config-cell" ng-style="{background:channelColors[portConfig[port]]}">
					{{port | ev3PortName}}<br/>
					<select ng-model="portConfig[port]" ng-options="motor as (motor | ev3ChannelName) for motor in outputPeripherals"></select>
				</td>
			</tr>
		</table>
	</div>
	<div id="code-area">
		<table class="table-label">
			<tr>
				<td><h2 class="shrink-box">WHEN</h2></td>
				<td><h2 class="shrink-box">THEN</h2></td>
			</tr>
		</table>

		<table ng-repeat="trigger in triggers" class="group-container">
			<tr>
				<td edp-cell data="trigger" type="'input'" port-config="portConfig"></td>
				<td ng-if="trigger.actions.length === 0" class="invisible action-cell"></td>
			</tr>
			<tr ng-if="trigger.actions.length > 0" ng-repeat="action in trigger.actions">
				<td edp-cell data="action" type="'output'" port-config="portConfig"></td>
				
			</tr>
		</table>
	</div>

	<script>
	var app = angular.module('myApp', []);
	app.service('edpEv3Constants', function () {
		// EV3 data
		// These are used only in the port config panel, and probably shouldn't be in the root scope
		this.EV3_INPUT_PORTS = [
			'ev3Port1', 'ev3Port2', 'ev3Port3', 'ev3Port4'
		];
		this.EV3_OUTPUT_PORTS = [
			'ev3PortA', 'ev3PortB', 'ev3PortC', 'ev3PortD'
		];
		this.EV3_INPUT_PERIPHERAL = [
			'ev3TouchSensor',
			'ev3ColorSensor',
			'ev3GyroSensor',
			'ev3UltrasonicSensor',
			undefined
		];
		this.EV3_OUTPUT_PERIPHERALS = [
			'ev3LargeMotor',
			'ev3MediumMotor',
			undefined
		];
		this.EV3_BUILTINS = [
			'program',
			'ev3BrickButton',
			'ev3BrickLight',
			'ev3BrickSound'
		];

		this.EV3_PORT_NAMES = {
			ev3Port1: 'Port 1',
			ev3Port2: 'Port 2',
			ev3Port3: 'Port 3',
			ev3Port4: 'Port 4',
			ev3PortA: 'Port A',
			ev3PortB: 'Port B',
			ev3PortC: 'Port C',
			ev3PortD: 'Port D'
		};

		this.EV3_CHANNEL_NAMES = {
			undefined: 'None',
			ev3TouchSensor: 'Touch Sensor',
			ev3UltrasonicSensor: 'Ultrasonic Sensor',
			ev3GyroSensor: 'Gyro Sensor',
			ev3ColorSensor: 'Color Sensor',
			ev3LargeMotor: 'Large Motor',
			ev3MediumMotor: 'Medium Motor',
			ev3InfraredSensor: 'Infrared Sensor',
			ev3BrickButton: 'Brick Button',
			ev3BrickLight: 'Brick Light',
			ev3BrickSound: 'Brick Sound',
			program: 'Program'
		};

		// Channel colors are applied to all blocks using that channel
		this.EV3_CHANNEL_COLORS = {
			undefined: '#696969',
			ev3TouchSensor: '#339C33',
			ev3UltrasonicSensor: '#9400D3',
			ev3GyroSensor: '#FF00DD',
			ev3ColorSensor: '#33DDEE',
			ev3LargeMotor: '#DD2040',
			ev3MediumMotor: '#EE4511',
			ev3InfraredSensor: '#820000',
			ev3BrickButton: '#FFDD00',
			ev3BrickLight: '#87CEEB',
			ev3BrickSound: '#FF88FF',
			program: '#D3D3D3'
		};

		// Settings options, sorted by peripheral and mode
		// Used to populate the mode and setting data for code blocks.
		// Every block must have a mode, which determines which settings, if any, are available
		this.EV3_CHANNEL_MODES = {
			ev3TouchSensor: {
				input: {
					press: {},
					release: {},
					countExceeds: {
						threshold: {
							type: 'positiveInteger'
						}
					}
				}
			},
			ev3UltrasonicSensor: {
				input: {
					distancePasses: {
						comparisonType: {
							type: 'selectable',
							options: ['enter', 'exit']
						},
						threshold: {
							type: 'positiveDecimal'
						},
						units: {
							type: 'selectable',
							options: ['inches', 'centimeters']
						}
					}
				}
			},
			ev3ColorSensor: {
				input: {
					switchColor: {
						transitionType: {
							type: 'selectable',
							options: ['to', 'from']
						},
						color: {
							type: 'selectable',
							options: ['black', 'blue', 'green', 'yellow', 'red', 'white', 'brown', 'none']
						}
					},
					reflectedLightPasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'selectable',
							options: ['dark', 'dim', 'bright']
						}
					},
					ambientLightPasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'selectable',
							options: ['dark', 'dim', 'bright']
						}
					},
					rgbValuePasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'positiveInteger'
						},
						color: {
							type: 'selectable',
							options: ['red', 'green', 'blue']
						}
					}
				}
			},
			ev3GyroSensor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['degrees', 'rotations']
						}
					},
					ratePasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['deg/sec', 'rot/sec']
						}
					}
				}
			},
			// outputPeripherals
			ev3LargeMotor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['degrees', 'rotations']
						}
					},
					ratePasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['deg/sec', 'rot/sec']
						}
					}
				},
				output: {
					start: {
						direction: {
							type: 'selectable',
							options: ['forward', 'backward']
						},
						power: {
							type: 'selectable',
							options: ['high', 'medium', 'low']
						}
					},
					switchDirection: {
						newPower: {
							type: 'selectable',
							options: ['remember', 'high', 'medium', 'low']
						}
					},
					stop: {
						stopType: {
							type: 'selectable',
							options: ['coast', 'brake']
						}
					},
					resetEncoders: {}
				}
			},
			ev3MediumMotor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['degrees', 'rotations']
						}
					},
					ratePasses: {
						comparisonType: {
							type: 'selectable',
							options: ['below', 'above']
						},
						threshold: {
							type: 'decimal'
						},
						units: {
							type: 'selectable',
							options: ['deg/sec', 'rot/sec']
						}
					}
				},
				output: {
					start: {
						direction: {
							type: 'selectable',
							options: ['forward', 'backward']
						},
						power: {
							type: 'selectable',
							options: ['high', 'medium', 'low']
						}
					},
					switchDirection: {
						newPower: {
							type: 'selectable',
							options: ['remember', 'high', 'medium', 'low']
						}
					},
					stop: {
						stopType: {
							type: 'selectable',
							options: ['coast', 'brake']
						}
					},
					resetEncoders: {}
				}
			},
			// No configuration is required for these channels //
			ev3BrickButton: {
				input: {
					press: {
						button: {
							type: 'selectable',
							options: ['up', 'down', 'left', 'right', 'enter']
						}
					},
					release: {
						button: {
							type: 'selectable',
							options: ['up', 'down', 'left', 'right', 'enter']
						}
					},
					countExceeds: {
						button: {
							type: 'selectable',
							options: ['up', 'down', 'left', 'right', 'enter']
						},
						threshold: {
							type: 'positiveInteger'
						}
					}
				}
			},
			ev3BrickSound: {
				output: {
					playTone: {
						frequency: {
							type: 'positiveDecimal'
						},
						volume: {
							type: 'positiveInteger'
						},
						duration: {
							type: 'positiveDecimal'
						}
					},
					playNote: {
						note: {
							type: 'selectable',
							options: ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B']
						},
						octave: {
							type: 'positiveInteger'	
						},
						volume: {
							type: 'positiveInteger'
						},
						duration: {
							type: 'positiveDecimal'
						}
					},
					playFile: {
						filename: {
							type: 'text'
						},
						volume: {
							type: 'positiveInteger'
						}
					},
					textToSpeech: {
						message: {
							type: 'text'
						},
						volume: {
							type: 'positiveInteger'
						}
					}
				}
			},
			ev3BrickLight: {
				output: {
					lightOn: {
						color: {
							type: 'selectable',
							options: ['red', 'amber', 'yellow', 'green']
						}
					},
					lightOff: {}
				}
			},
			program: {
				input: {
					programStart: {}
				},
				output: {
					programStop: {}
				}
			}
		};
	});
	app.filter('ev3PortName', ['edpEv3Constants', function(edpEv3Constants) {
		return function(item) {
			return edpEv3Constants.EV3_PORT_NAMES[item];
		};
	}]);
	app.filter('ev3ChannelName', ['edpEv3Constants', function(edpEv3Constants) {
		return function(item) {
			return edpEv3Constants.EV3_CHANNEL_NAMES[item];
		};
	}]);
	app.directive('edpCell', ['edpEv3Constants', function(edpEv3Constants) {
		return {
			restrict: 'A',
			templateUrl: 'edp-cell.html',
			scope: {
				cellType: '=type',
				cellData: '=data',
				portConfig: '='
			},
			link: function (scope, iElem, iAttr) {
				iElem.attr('class', scope.cellType + '-cell');
				if (scope.cellType == 'input') {
					iElem.attr('rowspan', 9999);
				}
				// Substitute for ngStyle directive, which cannot be easily added as a sibling to a custom directive
				scope.$watch('cellData', function (newVal, oldVal) {
					var color = edpEv3Constants.EV3_CHANNEL_COLORS[newVal.channel ? newVal.channel : scope.portConfig[newVal.port]];
					iElem.css('background-color', color);
					iElem.css('border-color', color);
				}, true);
				scope.$watch('portConfig', function (newVal, oldVal) {
					if (!scope.cellData.channel) {
						var color = edpEv3Constants.EV3_CHANNEL_COLORS[newVal[scope.cellData.port]]
						iElem.css('background-color', color);
						iElem.css('border-color', color);
					}
				}, true);

				scope.channelColors = edpEv3Constants.EV3_CHANNEL_COLORS;
				scope.channelModes = edpEv3Constants.EV3_CHANNEL_MODES;
			},
		};
	}]);
	app.controller('myCtrl', ['$scope', 'edpEv3Constants', function($scope, edpEv3Constants) {
		// Port Configuration Panel Dats
		// Set by blocks in port config panel
		// Accessed by code blocks which refer to ports but don't know the peripherals
		// Heavily EV3-specifc
		$scope.portConfig = {
			'ev3Port1': 'ev3TouchSensor',
			// 'ev3Port2': 'None',
			// 'ev3Port3': 'None',
			'ev3Port4': 'ev3ColorSensor',
			'ev3PortA': 'ev3LargeMotor',
			'ev3PortB': 'ev3LargeMotor',
			// 'ev3PortC': 'None',
			'ev3PortD': 'ev3MediumMotor'
		};

		// Code Model
		// Stores the actual trigger-action WHEN-THEN pairs
		// Currently hard-coded; everything can be changed but the specific channels/ports
		// The code that is here now is the elephant demo code, which is untested in this form
		$scope.triggers = [
			{
				channel: 'program',
				mode: 'programStart',
				actions: [
					{
						port: 'ev3PortB',
						mode: 'resetEncoders'
					},
					{
						port: 'ev3PortD',
						mode: 'resetEncoders'
					}
				]
			},
			{
				channel: 'ev3BrickButton',
				mode: 'press',
				settings: {
					button: 'up'
				},
				actions: [
					{
						port: 'ev3PortA',
						mode: 'start',
						settings: {
							direction: 'forward',
							power: 'high'
						}
					}
				]
			},
			{
				channel: 'ev3BrickButton',
				mode: 'press',
				settings: {
					button: 'down'
				},
				actions: [
					{
						port: 'ev3PortA',
						mode: 'start',
						settings: {
							direction: 'backward',
							power: 'high'
						}
					}
				]
			},
			{
				channel: 'ev3BrickButton',
				mode: 'press',
				settings: {
					button: 'enter'
				},
				actions: [
					{
						port: 'ev3PortA',
						mode: 'stop',
						settings: {
							stopType: 'brake'
						}
					}
				]
			},
			{
				channel: 'ev3BrickButton',
				mode: 'press',
				settings: {
					button: 'left'
				},
				actions: [
					{
						port: 'ev3PortB',
						mode: 'start',
						settings: {
							direction: 'forward',
							power: 'medium'
						}
					}
				]
			},
			{
				port: 'ev3Port1',
				mode: 'press',
				actions: [
					{
						port: 'ev3PortB',
						mode: 'stop',
						settings: {
							stopType: 'coast'
						}
					},
					{
						port: 'ev3PortD',
						mode: 'start',
						settings: {
							direction: 'backward',
							power: 'medium'
						}
					}
				]
			},
			{
				port: 'ev3Port4',
				mode: 'rgbValuePasses',
				settings: {
					color: 'red',
					threshold: 190,
					comparisonType: 'above'
				},
				actions: [
					{
						channel: 'ev3BrickSound',
						mode: 'playFile',
						settings: {
							filename: 'elephant_call.rsf',
							volume: 100
						}
					},
					{
						port: 'ev3PortB',
						mode: 'start',
						settings: {
							direction: 'forward',
							power: 'high'
						}
					},
					{
						port: 'ev3PortD',
						mode: 'start',
						settings: {
							direction: 'backward',
							power: 'medium'
						}
					},
					{
						port: 'ev3PortB',
						mode: 'resetEncoders'
					},
					{
						port: 'ev3PortD',
						mode: 'resetEncoders'
					}
				]
			},
			{
				port: 'ev3PortB',
				mode: 'positionPasses',
				settings: {
					comparisonType: 'below',
					threshold: -975,
					units: 'degrees'
				},
				actions: [
					{
						port: 'ev3PortB',
						mode: 'stop',
						settings: {
							stopType: 'brake'
						}
					},
					{
						port: 'ev3PortB',
						mode: 'resetEncoders'
					}
				]
			},
			{
				port: 'ev3PortD',
				mode: 'positionPasses',
				settings: {
					comparisonType: 'above',
					threshold: 770,
					units: 'degrees'
				},
				actions: [
					{
						port: 'ev3PortD',
						mode: 'stop',
						settings: {
							stopType: 'brake'
						}
					},
					{
						port: 'ev3PortD',
						mode: 'resetEncoders'
					}
				]
			}
		];

		// EV3 data
		$scope.inputPorts        = edpEv3Constants.EV3_INPUT_PORTS;
		$scope.outputPorts       = edpEv3Constants.EV3_OUTPUT_PORTS;
		$scope.inputPeripherals  = edpEv3Constants.EV3_INPUT_PERIPHERAL;
		$scope.outputPeripherals = edpEv3Constants.EV3_OUTPUT_PERIPHERALS;
		$scope.builtins          = edpEv3Constants.EV3_BUILTINS;
		$scope.channelModes      = edpEv3Constants.EV3_CHANNEL_MODES;
		$scope.channelColors     = edpEv3Constants.EV3_CHANNEL_COLORS;
		$scope.channelNames      = edpEv3Constants.EV3_CHANNEL_NAMES;

		// The code as JSON. Represented in the interface in a textarea.
		// Updated to match the model whenever a button is pressed
		$scope.codeJSON = '';

		$scope.urlToSend = '';

		// Gets the current code mode and config data as a single JSON object
		// Alerts the user of the code, which can be sleected for copy-pasting
		// TODO: rename, change to pass program directly to interpreter/brick
		$scope.showCode = function () {
			$scope.codeJSON = angular.toJson({
				portConfig: $scope.portConfig,
				triggers: $scope.triggers
			});
		};

		// Opens a prompt into which code can be pasted
		$scope.importCode = function () {
			var data = JSON.parse($scope.codeJSON);
			$scope.portConfig = data.portConfig;
			$scope.triggers = data.triggers;
		};

		var sending = false;

		$scope.startSending = function () {
			if (!sending) {
				sending = true;
				modelParse.url = $scope.urlToSend;
				modelParse.parse_data(angular.toJson({
					portConfig: $scope.portConfig,
					triggers: $scope.triggers
				}));
			}
		};

		$scope.stopSending = function () {
			modelParse.handleStop();
			sending = false;
		}

	}]);
	</script>
</body>
