<span>
{{cellData.port ? 'Port ' + cellData.port + ' ' + portConfig[cellData.port] : cellData.channel}}<br/>
Mode:
<select
	ng-model="cellData.mode"
	ng-options="mode as mode for (mode, options) in channelModes[cellData.port ? portConfig[cellData.port] : cellData.channel].input"
></select>
Settings:
<span ng-repeat="(setting, details) in channelModes[cellData.port ? portConfig[cellData.port] : cellData.channel].input[cellData.mode]">
	<!-- selectable lists -->
	<select ng-if="details.type === 'dropdown'" ng-model="cellData.settings[setting]" ng-options="option for option in details.options"></select>
	<!-- numerical input -->
	<input ng-if="details.type === 'number'" ng-model="cellData.settings[setting]" type="number"></input>
	<!-- text -->
	<input ng-if="details.type === 'text'" ng-model="cellData.settings[setting]" type="text"></input>
</span>
</span>