<!--
	Made by Caleb Lucas-Foley
	2016-08-01
-->

<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Static Layout</title>
	<style>
	* {
		margin: 0;
	}
	html, body {
		height: 100%;
	}
	body {
		font-family: sans-serif;
		background-image: url("bluestud.png");
		background-attachment: fixed;
		background-color: navy;
		color: black;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
		text-align: center;
	}
	table {
		margin: 10px auto;
		border-spacing: 0;
	}
	h1, h2, h3 {
		text-align: center;
	}
	#left-sidebar {
		position: fixed;
		left: 10px;
		top: 10px;
		width: 200px;
		text-align: left;
		overflow: auto;
	}
	#right-sidebar {
		position: fixed;
		right: 10px;
		top: 10px;
		width: 200px;
		text-align: center;
	}
	.shrink-box {
		background-color: gray;
		border: 3px gray outset;
		border-radius: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
		display: inline-block;
	}
	#code-zone {
		width: 175px;
		height: 200px;
		resize: none;
		border: 3px gray inset;
	}
	#port-config {
		margin: 10px auto;
	}
	.port-config-cell {
		width: 175px;
		height: 70px;
		vertical-align: top;
		background-color: gray;
		border: 3px gray inset;
		border-bottom-right-radius: 50% 20px;
		border-top-right-radius: 50% 20px;
		border-bottom-left-radius: 50% 20px;
		border-top-left-radius: 50% 20px;
	}
	/* Code blocks */
	.group-container td {
		width: 200px;
		height: 100px;
		vertical-align: top;
		border: 3px outset;
	}
	.input-cell {
		background-color: gray;
		border-bottom-left-radius: 20px 50px;
		border-top-left-radius: 20px 50px;
	}
	.output-cell {
		background-color: gray;
		border-bottom-right-radius: 20px 50px;
		border-top-right-radius: 20px 50px;
	}
	.invisible {
		visibility: hidden;
	}
	.edp-arrow {
		position: absolute;
		margin-left: -7px;
		margin-top: 38px;
		border-left: 12px solid black;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		height: 0;
		width: 0;
	}
	.table-label td {
		width: 200px;
	}
	</style>
	<!-- Get AngularJS from Google CDN -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script src="sendTest8.js"></script>
	<script src="data_model_parser3(cors).js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div id="left-sidebar" class="shrink-box">
		<h2>What is This?</h2><br/>
		<span style="text-shadow:none;">
			<p>
				Every block belongs to a <em>channel</em>, which is something like "Port 1 Touch Sensor."
			</p><br/>
			<p>
				State changes specified in <em>WHEN</em> blocks trigger actions specified in the corresponding <em>THEN</em> blocks.
			<p><br/>
				Every block can be configured just like in the LEGO EV3 software. For now, the setting names can be seen as alt-text on mouseover.
			</p><br/>
			<p>
				For now, there is no way to directly add or remove code blocks in this prototype. The <em>Import/Export</em> panel can be used to paste in JSON code representations.
			</p>
		</span>
	</div>
	<div id="right-sidebar" class="shrink-box">
		<h2>Import/Export</h2><br/>
		<textarea id="code-zone" ng-model="codeJSON"></textarea><br/>
		<button ng-click="showCode()">Show Code</button><br/>
		<button ng-click="importCode()">Import Code</button>
		<!-- Buttons added for communication -->
		<button ng-click="startSending()">SEND</button><br/>
		<button ng-click="stopSending()">STOP</button><br/>
	</div>
	<div id="port-config" class="shrink-box">
		<h2 class="column-label">EV3 Ports</h2>
		<table>
			<tr>
				<td ng-repeat="port in inputPorts" class="port-config-cell" ng-style="{background:channelColors[portConfig[port]]}">
					{{port}}<br/>
					<select ng-model="portConfig[port]" ng-options="sensor as channelNames[sensor] for sensor in sensors"></select>
				</td>
			</tr>
			<tr>
				<td ng-repeat="port in outputPorts" class="port-config-cell" ng-style="{background:channelColors[portConfig[port]]}">
					{{port}}<br/>
					<select ng-model="portConfig[port]" ng-options="motor as channelNames[motor] for motor in motors"></select>
				</td>
			</tr>
		</table>
	</div>
	<div id="code-area">
		<table class="table-label">
			<tr>
				<td><h2 class="shrink-box">WHEN</h2></td>
				<td><h2 class="shrink-box">THEN</h2></td>
			</tr>
		</table>

		<table ng-repeat="trigger in triggers" class="group-container">
			<tr>
				<td edp-cell data="trigger" type="'input'" port-config="portConfig"></td>
				<td ng-if="trigger.actions.length === 0" class="invisible action-cell"></td>
			</tr>
			<tr ng-if="trigger.actions.length > 0" ng-repeat="action in trigger.actions">
				<td edp-cell data="action" type="'output'" port-config="portConfig"></td>
				
			</tr>
		</table>
	</div>

	<script>
	var app = angular.module('myApp', []);
	app.service("edpEv3Constants", function () {
		// EV3 data
		// These are used only in the port config panel, and probably shouldn't be in the root scope
		this.EV3_INPUT_PORTS = [
			"1", "2", "3", "4"
		];
		this.EV3_OUTPUT_PORTS = [
			"A", "B", "C", "D"
		];
		this.EV3_SENSORS = [
			"ev3TouchSensor",
			"ev3ColorSensor",
			"ev3GyroSensor",
			"ev3UltrasonicSensor",
			undefined
		];
		this.EV3_MOTORS = [
			"ev3LargeMotor",
			"ev3MediumMotor",
			undefined
		];
		this.EV3_BUILTINS = [
			"program",
			"ev3BrickButton",
			"ev3BrickLight",
			"ev3BrickSound"
		];


		this.EV3_CHANNEL_NAMES = {
			undefined: "None",
			ev3TouchSensor: "Touch Sensor",
			ev3UltrasonicSensor: "Ultrasonic Sensor",
			ev3GyroSensor: "Gyro Sensor",
			ev3ColorSensor: "Color Sensor",
			ev3LargeMotor: "Large Motor",
			ev3MediumMotor: "Medium Motor",
			ev3InfraredSensor: "Infrared Sensor",
			ev3BrickButton: "Brick Button",
			ev3BrickLight: "Brick Light",
			ev3BrickSound: "Brick Sound",
			program: "Program"
		};

		// Channel colors are applied to all blocks using that channel
		this.EV3_CHANNEL_COLORS = {
			undefined: "dimgray",
			ev3TouchSensor: "forestgreen",
			ev3UltrasonicSensor: "darkviolet",
			ev3GyroSensor: "magenta",
			ev3ColorSensor: "cyan",
			ev3LargeMotor: "crimson",
			ev3MediumMotor: "orangered",
			ev3InfraredSensor: "maroon",
			ev3BrickButton: "yellow",
			ev3BrickLight: "skyblue",
			ev3BrickSound: "violet",
			program: "lightgray"
		};


		// Settings options, sorted by peripheral and mode
		// Used to populate the mode and setting data for code blocks.
		// Every block must have a mode, which determines which settings, if any, are available
		this.EV3_CHANNEL_MODES = {
			ev3TouchSensor: {
				input: {
					press: {},
					release: {},
					countExceeds: {
						threshold: {
							type: "positiveInteger"
						}
					}
				}
			},
			ev3UltrasonicSensor: {
				input: {
					distancePasses: {
						comparisonType: {
							type: "selectable",
							options: ["enter", "exit"]
						},
						threshold: {
							type: "positiveDecimal"
						},
						units: {
							type: "selectable",
							options: ["inches", "centimeters"]
						}
					}
				}
			},
			ev3ColorSensor: {
				input: {
					switchColor: {
						transitionType: {
							type: "selectable",
							options: ["to", "from"]
						},
						color: {
							type: "selectable",
							options: ["black", "blue", "green", "yellow", "red", "white", "brown", "none"]
						}
					},
					reflectedLightPasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "selectable",
							options: ["dark", "dim", "bright"]
						}
					},
					ambientLightPasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "selectable",
							options: ["dark", "dim", "bright"]
						}
					},
					rgbValuePasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "positiveInteger"
						},
						color: {
							type: "selectable",
							options: ["red", "green", "blue"]
						}
					}
				}
			},
			ev3GyroSensor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["degrees", "rotations"]
						}
					},
					ratePasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["deg/sec", "rot/sec"]
						}
					}
				}
			},
			// Motors
			ev3LargeMotor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["degrees", "rotations"]
						}
					},
					ratePasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["deg/sec", "rot/sec"]
						}
					}
				},
				output: {
					start: {
						direction: {
							type: "selectable",
							options: ["forward", "backward"]
						},
						power: {
							type: "selectable",
							options: ["high", "medium", "low"]
						}
					},
					switchDirection: {
						newPower: {
							type: "selectable",
							options: ["remember", "high", "medium", "low"]
						}
					},
					stop: {
						stopType: {
							type: "selectable",
							options: ["coast", "brake"]
						}
					},
					resetEncoders: {}
				}
			},
			ev3MediumMotor: {
				input: {
					positionPasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["degrees", "rotations"]
						}
					},
					ratePasses: {
						comparisonType: {
							type: "selectable",
							options: ["below", "above"]
						},
						threshold: {
							type: "decimal"
						},
						units: {
							type: "selectable",
							options: ["deg/sec", "rot/sec"]
						}
					}
				},
				output: {
					start: {
						direction: {
							type: "selectable",
							options: ["forward", "backward"]
						},
						power: {
							type: "selectable",
							options: ["high", "medium", "low"]
						}
					},
					switchDirection: {
						newPower: {
							type: "selectable",
							options: ["remember", "high", "medium", "low"]
						}
					},
					stop: {
						stopType: {
							type: "selectable",
							options: ["coast", "brake"]
						}
					},
					resetEncoders: {}
				}
			},
			// No configuration is required for these channels //
			ev3BrickButton: {
				input: {
					press: {
						button: {
							type: "selectable",
							options: ["up", "down", "left", "right", "enter"]
						}
					},
					release: {
						button: {
							type: "selectable",
							options: ["up", "down", "left", "right", "enter"]
						}
					},
					countExceeds: {
						button: {
							type: "selectable",
							options: ["up", "down", "left", "right", "enter"]
						},
						threshold: {
							type: "positiveInteger"
						}
					}
				}
			},
			ev3BrickSound: {
				output: {
					playTone: {
						frequency: {
							type: "positiveDecimal"
						},
						volume: {
							type: "positiveInteger"
						},
						duration: {
							type: "positiveDecimal"
						}
					},
					playNote: {
						note: {
							type: "selectable",
							options: ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"]
						},
						octave: {
							type: "positiveInteger"
						},
						volume: {
							type: "positiveInteger"
						},
						duration: {
							type: "positiveDecimal"
						}
					},
					playFile: {
						filename: {
							type: "text"
						},
						volume: {
							type: "positiveInteger"
						}
					}
				}
			},
			ev3BrickLight: {
				output: {
					lightOn: {
						color: {
							type: "selectable",
							options: ["red", "yellow", "green"]
						}
					},
					lightOff: {}
				}
			},
			program: {
				input: {
					programStart: {}
				},
				output: {
					programStop: {}
				}
			}
		};
	});
	app.directive('edpCell', ['edpEv3Constants', function(edpEv3Constants) {
		return {
			restrict: 'A',
			templateUrl: 'edp-cell.html',
			scope: {
				cellType: '=type',
				cellData: '=data',
				portConfig: "="
			},
			link: function (scope, iElem, iAttr) {
				iElem.attr("class", scope.cellType + "-cell");
				if (scope.cellType == 'input') {
					iElem.attr("rowspan", 9999);
				}
				// Substitute for ngStyle directive, which cannot be easily added as a sibling to a custom directive
				scope.$watch('cellData', function (newVal, oldVal) {
					var color = edpEv3Constants.EV3_CHANNEL_COLORS[newVal.channel ? newVal.channel : scope.portConfig[newVal.port]];
					iElem.css('background-color', color);
					iElem.css('border-color', color);
				}, true);
				scope.$watch('portConfig', function (newVal, oldVal) {
					if (!scope.cellData.channel) {
						var color = edpEv3Constants.EV3_CHANNEL_COLORS[newVal[scope.cellData.port]]
						iElem.css('background-color', color);
						iElem.css('border-color', color);
					}
				}, true);

				scope.channelColors = edpEv3Constants.EV3_CHANNEL_COLORS;
				scope.channelNames = edpEv3Constants.EV3_CHANNEL_NAMES;
				scope.channelModes = edpEv3Constants.EV3_CHANNEL_MODES;
			},
		};
	}]);
	app.controller('myCtrl', ['$scope', 'edpEv3Constants', function($scope, edpEv3Constants) {
		// Port Configuration Panel Dats
		// Set by blocks in port config panel
		// Accessed by code blocks which refer to ports but don't know the peripherals
		// Heavily EV3-specifc
		$scope.portConfig = {
			'1': "ev3TouchSensor",
			// '2': "None",
			// '3': "None",
			'4': "ev3ColorSensor",
			'A': "ev3LargeMotor",
			'B': "ev3LargeMotor",
			// 'C': "None",
			'D': "ev3MediumMotor"
		};

		// Code Model
		// Stores the actual trigger-action WHEN-THEN pairs
		// Currently hard-coded; everything can be changed but the specific channels/ports
		// The code that is here now is the elephant demo code, which is untested in this form
		$scope.triggers = [
			{
				channel: "program",
				mode: "programStart",
				actions: [
					{
						port: "B",
						mode: "resetEncoders"
					},
					{
						port: "D",
						mode: "resetEncoders"
					}
				]
			},
			{
				channel: "ev3BrickButton",
				mode: "press",
				settings: {
					button: "up"
				},
				actions: [
					{
						port: "A",
						mode: "start",
						settings: {
							direction: "forward",
							power: "high"
						}
					}
				]
			},
			{
				channel: "ev3BrickButton",
				mode: "press",
				settings: {
					button: "down"
				},
				actions: [
					{
						port: "A",
						mode: "start",
						settings: {
							direction: "backward",
							power: "high"
						}
					}
				]
			},
			{
				channel: "ev3BrickButton",
				mode: "press",
				settings: {
					button: "enter"
				},
				actions: [
					{
						port: "A",
						mode: "stop",
						settings: {
							stopType: "brake"
						}
					}
				]
			},
			{
				channel: "ev3BrickButton",
				mode: "press",
				settings: {
					button: "left"
				},
				actions: [
					{
						port: "B",
						mode: "start",
						settings: {
							direction: "forward",
							power: "medium"
						}
					}
				]
			},
			{
				port: "1",
				mode: "press",
				actions: [
					{
						port: "B",
						mode: "stop",
						settings: {
							stopType: "coast"
						}
					},
					{
						port: "D",
						mode: "start",
						settings: {
							direction: "backward",
							power: "medium"
						}
					}
				]
			},
			{
				port: "4",
				mode: "rgbValuePasses",
				settings: {
					color: "red",
					threshold: 190,
					comparisonType: "above"
				},
				actions: [
					{
						channel: "ev3BrickSound",
						mode: "playFile",
						settings: {
							filename: "elephant_call.rsf",
							volume: 100
						}
					},
					{
						port: "B",
						mode: "start",
						settings: {
							direction: "forward",
							power: "high"
						}
					},
					{
						port: "D",
						mode: "start",
						settings: {
							direction: "backward",
							power: "medium"
						}
					},
					{
						port: "B",
						mode: "resetEncoders"
					},
					{
						port: "D",
						mode: "resetEncoders"
					}
				]
			},
			{
				port: "B",
				mode: "positionPasses",
				settings: {
					comparisonType: "below",
					threshold: -975,
					units: "degrees"
				},
				actions: [
					{
						port: "B",
						mode: "stop",
						settings: {
							stopType: "brake"
						}
					},
					{
						port: "B",
						mode: "resetEncoders"
					}
				]
			},
			{
				port: "D",
				mode: "positionPasses",
				settings: {
					comparisonType: "above",
					threshold: 770,
					units: "degrees"
				},
				actions: [
					{
						port: "D",
						mode: "stop",
						settings: {
							stopType: "brake"
						}
					},
					{
						port: "D",
						mode: "resetEncoders"
					}
				]
			}
		];

		// EV3 data
		$scope.inputPorts    = edpEv3Constants.EV3_INPUT_PORTS;
		$scope.outputPorts   = edpEv3Constants.EV3_OUTPUT_PORTS;
		$scope.sensors       = edpEv3Constants.EV3_SENSORS;
		$scope.motors        = edpEv3Constants.EV3_MOTORS;
		$scope.builtins      = edpEv3Constants.EV3_BUILTINS;
		$scope.channelModes  = edpEv3Constants.EV3_CHANNEL_MODES;
		$scope.channelColors = edpEv3Constants.EV3_CHANNEL_COLORS;
		$scope.channelNames  = edpEv3Constants.EV3_CHANNEL_NAMES;

		// The code as JSON. Represented in the interface in a textarea.
		// Updated to match the model whenever a button is pressed
		$scope.codeJSON = "";

		// Gets the current code mode and config data as a single JSON object
		// Alerts the user of the code, which can be sleected for copy-pasting
		// TODO: rename, change to pass program directly to interpreter/brick
		$scope.showCode = function () {
			$scope.codeJSON = angular.toJson({
				portConfig: $scope.portConfig,
				triggers: $scope.triggers
			});
		};

		// Opens a prompt into which code can be pasted
		$scope.importCode = function () {
			var data = JSON.parse($scope.codeJSON);
			$scope.portConfig = data.portConfig;
			$scope.triggers = data.triggers;
		};

		$scope.startSending = function () {
			modelParse.parse_data(angular.toJson({
				portConfig: $scope.portConfig,
				triggers: $scope.triggers
			}));
		};

		$scope.stopSending = function () {
			modelParse.handleStop();
		}

	}]);
	</script>
</body>